*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider{
    width: 75vw;
    height: 50vh;
    position:relative;
}

ul{
    list-style-type: none;
}


#thumbnails{
    width: 20%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
}

.thum-item{
    height: 20%;
}

.thum-item img{
    opacity: 50%;
}

.item{
    display: none;
}

.item-slider, .item, img{
    height: 100%
}

.item img, .thum-item img{
    width: 100%;
    object-fit: cover;
}

.arrow{
    position: absolute;
    width: 40px;
    background-color: rgba(174, 174, 174, 0.509);
    border-radius: 50px;
    font-weight: 800; 
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.next{
    bottom: 5px; 
}

.prev{
    top: 5px;
}

.prev:hover, .next:hover, #cart-circle:hover{
    background-color: rgba(174, 174, 174, 1);   
}

.item.active{
    display: block;
}

.circles-container{
    display: flex;
    justify-content: center;
}

.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(174, 174, 174, 0.509);
    margin: 10px;
    cursor: pointer;
}


.thum-img.active{
    opacity: 100%;
}

/* /////// */

#cart-container{
    position: absolute;
    top: 25px;
    right: 25px;
    height: 180px;
    width: 160px;
    border: 1px solid black;
}

#cart-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 30px;
    bottom: 30px;
    cursor: pointer;
}

#cart-circle i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
